.home-info {
    position: relative;
    overflow: visible;
}

.home-info img {
    width: 144px;
    border-radius: 2rem;
    border: .5rem solid var(--border);
}

@media screen and (min-width: 460px) {
    .home-info img {
        position: absolute;
        right: 0;
        top: 75px;
    }
}
